body {
  /* margin: 0; */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
}

.titleH1 {
  font-size: 17px;
  font-weight: bold;
}

h2 {
  margin: 1em 0;
  font-size: 15px;
  font-weight: normal;
}

.linkTask {
  color: green;
}